{% extends 'base/base.html' %}


{% block content %}
{% include 'base/message.html' %}
{% load static %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message | safe }}
  </div>
</div>
{% endfor %}

<div class="container">
    <h3>Book PDF View</h3>
    <p>
      <a href="{% url 'home:book' book.id %}">Go back to Book</a>
    </p>
  <h4>{{ book.title }}</h4>
  {% if book.pdfFile %}
  <iframe src="/media/{{ book.pdfFile }}" width="100%" height="1000px" frameborder="0"></iframe>
  {% else %}
  No preview of this book
  {% endif %}

</div>
            
{% endblock %}
