{% load static %}

<link rel="stylesheet" href="{% static "base/message/notifications.css" %}"  type="text/css">
<script src="{% static "base/message/notifications.js" %}"  type="text/javascript"></script>


{% if messages %}
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
                createNotification({
                    closeOnClick: true,
                    displayCloseButton: true,
                    positionClass: "nfc-top-right",
                    showDuration: 10000,
                    theme: "{{notification.status}}",
                })({
                    title: "{{notification.title}}",
                    message: "{{notification.content }}"
                });
            {% endfor %}
        });
    </script>
{% endif %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
            </button>
            {{ message|safe }}
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if error %}
    <p> {{ error }} </p>
{% endif %} {% endcomment %}