{% extends 'base/base.html' %}


{% block content %}
{% include 'base/message.html' %}
{% load static %}

<div class="container">
  <h3>Control View</h3>
  {% include "control/menu.html" %}
  <hr>
  <p>Below is the list of all users:</p>
  {% for person in persons %}
    <div class="person-info m-bottom-4">
      <p>
        User #{{person.id}}: {{person.username}}
        {% if person.id == request.user.id %} <i> (You) </i>{% endif %}
        
        <a href="" class="btn btn-secondary float-right">ban</a>
        
        {% if person.role == 0 %}
          <span class="float-right badge badge-success">{{person.get_role_display}}</span>
        {% else %}
          {% if person.role == 1 %}
          <span class="float-right badge badge-warning">{{person.get_role_display}}</span>
          {% else %}
          <span class="float-right badge badge-danger">{{person.get_role_display}}</span>
          {% endif %}
        {% endif %}

      </p>
      <p></p>
    </div>
    <hr>
  {% endfor %}
</div>

{% endblock %}
