{% extends 'base/base.html' %}

{% load static %}
{% include 'base/message.html' %}
{% block content %}
<div class="dashboard-content utility-page-content">
    <div class="dashboard-main-content utility-page-main-content">
        <div class="container-default w-container">
          <div data-w-id="619efe17469a19c94a600b1500000000000b" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="utility-page-content mg-bottom-0 w-form">
            <div class="card _404">
                <img src="{% static 'user/recovery/404.svg' %}" loading="lazy" alt="" class="_404">
              <h2 class="text-500 bold color-neutral-800">Oops! Page not found</h2>
              <div class="inner-container _326px center">
                <p class="mg-bottom-24px">The page you are looking for doesn't exist or has been moved</p>
              </div>
              <div class="flex-horizontal"><a data-w-id="dc3b625c-4a68-4ebe-9b74-d3193fa9f32f" href="{% url 'home:index' %}" class="btn-primary w-inline-block">
                  <div class="flex-horizontal gap-column-4px">
                    <div>Back to home</div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}